
<div class="jumbotron">
  <p class="lead">
    <img class="logo1" src="images/logoacademia.jpg" alt="logo academia" height="102" width="212">
  </p>

      <form method="post" action="">
       <p>
           <label for="login">
            Login :</label> <br>
           <input type="text" name="login" id="login" />

           <br />
           <label for="pass">Mot de passe :</label> <br>
           <input type="password" name="pass" id="pass" />

       </p>
    </form>

  <p><a class="btn btn-primary btn-defaut" >Annuler <span class="glyphicon glyphicon-remove"></span> </a></p>
  <p><a class="btn btn-primary btn-success" >Valider <span class="glyphicon glyphicon-ok"></span> </a></p>
</div>

<div class="btn-group btn-group-justified" role="group" >
  <div class="btn-group" role="group">
    <a href="#/PlanningRespo">
      <button type="button" class="btn btn-primary"> Responsable Module </button>
    </a>
  </div>
  <div class="btn-group" role="group">
    <a href="#/PlanningClient">
      <button type="button" class="btn btn-primary">Client</button>
    </a>
  </div>
  <div class="btn-group" role="group">
    <a href="#/RepartitionEquipeEleve">
      <button type="button" class="btn btn-primary">Elève</button>
    </a>
  </div>
</div>
