<div class="row">
        <section class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li ><a href="#/PlanningRespo"><i class="fa fa-home fa-fw"></i>Planning</a></li>
                <li><a href="#/GestionClients"><i class="fa fa-list-alt fa-fw"></i>Gestion clients</a></li>
                <li><a >Session 1<i class="fa fa-list-alt fa-fw glyphicon glyphicon-chevron-down"></i></a></li >
                <li><a href="#/Equipe"><i class="fa fa-bar-chart-o fa-fw"></i>Equipes</a></li>
                <li><a href="#/Sujet"><i class="fa fa-table fa-fw"></i>Sujets</a></li>
                <li class="active"> <a href="#/ConsultationDepotEleve"><i class="fa fa-tasks fa-fw"></i>Dépôts élèves</a></li>
                <li><a href="#/MurRespo"><i class="fa fa-calendar fa-fw"></i>Mur</a></li>
                <li><a >Session 2<i class="fa fa-list-alt fa-fw glyphicon glyphicon-chevron-down"></i></a></li >
                <li><a >Session 3<i class="fa fa-list-alt fa-fw glyphicon glyphicon-chevron-down"></i></a></li >
                <li><a >Session 4<i class="fa fa-list-alt fa-fw glyphicon glyphicon-chevron-down"></i></a></li >
            </ul>
        </section>
        <div class="col-md-9 well">
          <div id="zonedoc">
          <div class="row fic-depot">
              <div class="col-md-1 icone-depot glyphicon glyphicon-folder-close"></div>
              <div class="col-md-5 nom-fichier">Livrable 1</div>
              <div class="col-md-5">
              <div class="row">
                  <div class="date_depot">Créé le : (code)</div>
              </div>
              <div class="row">
                  <div class="date_limite">Date limite de dépôt : (code)</div>
              </div>
              <div class="row">
                  <div class="nbr_depot">4 décomuenets déposés</div>
              </div>
              </div>
              <button type="button" class="col-md-1 tele_fichier glyphicon glyphicon-download-alt" ></button>
              <button type="button" class="col-md-1 tele_fichier glyphicon glyphicon-trash"></button>
          </div>
        </div>
    </div>
