<div class="row">
        <section class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li ><a href="#/PlanningRespo"><i class="fa fa-home fa-fw"></i>Planning</a></li>
                <li><a href="#/GestionClients"><i class="fa fa-list-alt fa-fw"></i>Gestion clients</a></li>
                <li><a >Session 1<i class="fa fa-list-alt fa-fw glyphicon glyphicon-chevron-down"></i></a></li >
                <li class="active"><a href="#/Equipe"><i class="fa fa-bar-chart-o fa-fw"></i>Equipes</a></li>
                <li><a href="#/Sujet"><i class="fa fa-table fa-fw"></i>Sujets</a></li>
                <li><a href="#/ConsultationDepotEleve"><i class="fa fa-tasks fa-fw"></i>Dépôts élèves</a></li>
                <li><a href="#/MurRespo"><i class="fa fa-calendar fa-fw"></i>Mur</a></li>
                <li><a >Session 2<i class="fa fa-list-alt fa-fw glyphicon glyphicon-chevron-down"></i></a></li >
                <li><a >Session 3<i class="fa fa-list-alt fa-fw glyphicon glyphicon-chevron-down"></i></a></li >
                <li><a >Session 4<i class="fa fa-list-alt fa-fw glyphicon glyphicon-chevron-down"></i></a></li >
            </ul>
        </section>

            <div class="col-md-9 well">
                <div class="row">
                      <div class="col-md-7 col-md-offset-1">
                          <div  class="container" id="livrable">
                            <div class="table-responsive">
                            <table class="table table-bordered">
                              <tbody>
                                <tr>
                      <td><a href="#/Session_equipe">Equipe Aigle</a></td>
                    <td>6 élèves</td>
                    <td>Sujet 1</td>
                    <td>Client : M.XXXXXXX</td>
                            </tr>
                          </tbody>
                        </table>
                        </div>
                      </div>
                  </div>
              </div>
            </div>
    
    
            <div class="col-md-9 well">
                <div class="row">
                      <div class="col-md-7 col-md-offset-1">
                          <div  class="container" id="livrable">
                            <div class="table-responsive">
                            <table class="table table-bordered">
                              <tbody>
                                <tr>
                      <td><a href="#/Session_equipe">Equipe Rat</a></td>
                    <td>6 élèves</td>
                    <td>Sujet 1</td>
                    <td>Client : M.XXXXXXX</td>
                            </tr>
                          </tbody>
                        </table>
                        </div>
                      </div>
                  </div>
              </div>
            </div>
</div>
