   <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li ><a href="#/RepartitionEquipeEleve"><i class="fa fa-table fa-fw"></i>Répatition équipe</a></li>
                <li ><a href="#/DepotEleve"><i class="fa fa-home fa-fw"></i>Dépôts documents</a></li>
                <li><a href="#/PlanningVuEleve"><i class="fa fa-file-o fa-fw"></i>Prise de rdv </a></li>
                <li class="active"><a href="#/MurEleve"><i class="fa fa-bar-chart-o fa-fw"></i>Mur Elève</a></li>
                <li><a href="#/SujetEleve"><i class="fa fa-table fa-fw"></i>Sujet</a></li>

            </ul>
        </div>
        <div class="col-md-9 well">
                <div class="mainContent">
      <div class="col-md-offset-1 col-md-10">
        <div class="cadre-page-ele-mur"><textarea placeholder ="Exprimez-vous" rows="5" id="text-ele-mur"></textarea></div>
        <div class="cadre-page-ele-mur"><button id="publ-ele-mur">Publier</button></div>
        <div class="publ-ele-mur cadre-publi">
          <div class="un-li-ele-publ">
            <div id="nom-ele-publ-mur">Pablo Escobar</div>
            <div id="date-publ-ele-mur">14/03</div>
            <div id="heure-publ-ele-mur">16h35</div>
            <a href=""><div id="boutsup-publ-ele-mur" class="glyphicon glyphicon-trash"></div></a>
          </div>
          <div id="text-publ-ele-mur">
          Utilisez votre login et mot de passe pour le mail.
          Use your e-mail login and password.

          Si vous voulez changer votre mot de passe ou votre adresse mail de redirection, cliquez sur le bouton "oui, j'ai besoin d'aide pour me connecter".
          </div>
        </div>
        <div class="com-ele-mur cadre-publi">
          <div class="deux-li-ele-publ">
            <div id="com-publ-ele-mur">
             <div ng-click="vm.check=!vm.check">Commentaires</div>

              <!--<div id="tog-comgen-ele-mur">
                <div id="nbrcom-publ-ele-mur">4</div>
                <div>Commentaires</div>-->
                <div id="img-com-ele-mur" class="glyphicon glyphicon-comment"></div>
              </div>
            </div>
            <div id="tog-allcom-ele-mur" ng-if="vm.check">
                <div id="com-1">YOYOYO</div>
              </div>
          </div>
        </div>
      </div>
    </div>
        </div>
    </div>
