<div class="row">
        <section class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li ><a href="#/PlanningRespo"><i class="fa fa-home fa-fw"></i>Planning</a></li>
                <li><a href="#/GestionClients"><i class="fa fa-list-alt fa-fw"></i>Gestion clients</a></li>
                <li><a >Session 1<i class="fa fa-list-alt fa-fw glyphicon glyphicon-chevron-down"></i></a></li >
                <li><a href="#/Equipe"><i class="fa fa-bar-chart-o fa-fw"></i>Equipes</a></li>
                <li><a href="#/Sujet"><i class="fa fa-table fa-fw"></i>Sujets</a></li>
                <li ><a href="#/ConsultationDepotEleve"><i class="fa fa-tasks fa-fw"></i>Dépôts élèves</a></li>
                <li class="active"><a href="#/MurRespo"><i class="fa fa-calendar fa-fw"></i>Mur</a></li>
                <li><a >Session 2<i class="fa fa-list-alt fa-fw glyphicon glyphicon-chevron-down"></i></a></li >
                <li><a >Session 3<i class="fa fa-list-alt fa-fw glyphicon glyphicon-chevron-down"></i></a></li >
                <li><a >Session 4<i class="fa fa-list-alt fa-fw glyphicon glyphicon-chevron-down"></i></a></li >
            </ul>
        </section>
        <div class="col-md-9 well">
                <div class="mainContent">
      <div class="col-md-offset-1 col-md-10">
        <div class="cadre-page-ele-mur"><textarea placeholder ="Exprimez-vous" rows="5" id="text-ele-mur"></textarea></div>
        <div class="cadre-page-ele-mur"><button id="publ-ele-mur">Publier</button></div>
        <div class="publ-ele-mur cadre-publi">
          <div class="un-li-ele-publ">
            <div id="nom-ele-publ-mur">Pablo Escobar</div>
            <div id="date-publ-ele-mur">14/03</div>
            <div id="heure-publ-ele-mur">16h35</div>
            <a href=""><div id="boutsup-publ-ele-mur" class="glyphicon glyphicon-trash"></div></a>
          </div>
          <div id="text-publ-ele-mur">
          Utilisez votre login et mot de passe pour le mail.
          Use your e-mail login and password.

          Si vous voulez changer votre mot de passe ou votre adresse mail de redirection, cliquez sur le bouton "oui, j'ai besoin d'aide pour me connecter".
          </div>
        </div>
        <div class="com-ele-mur cadre-publi">
          <div class="deux-li-ele-publ">
            <div id="com-publ-ele-mur">
              <div id="tog-comgen-ele-mur">
                <div id="nbrcom-publ-ele-mur">4</div>
                <div>Commentaires</div>
                <div id="img-com-ele-mur" class="glyphicon glyphicon-comment"></div>
              </div>
            </div>
            <div id="tog-allcom-ele-mur">
                <div id="com-1">YOYOYO</div>
              </div>
          </div>
        </div>
      </div>
    </div>
        </div>
</div>
