   <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li ><a href="#/RepartitionEquipeEleve"><i class="fa fa-table fa-fw"></i>Répatition équipe</a></li>
                <li ><a href="#/DepotEleve"><i class="fa fa-home fa-fw"></i>Dépôts documents</a></li>
                <li class="active"><a href="#/PlanningVuEleve"><i class="fa fa-file-o fa-fw"></i>Prise de rdv </a></li>
                <li ><a href="#/MurEleve"><i class="fa fa-bar-chart-o fa-fw"></i>Mur Elève</a></li>
                <li ><a href="#/SujetEleve"><i class="fa fa-table fa-fw"></i>Sujet</a></li>

            </ul>
        </div>
        <div class="col-md-9 well">
            Choissez une plage horaire dans le planing de votre client :
        </div>
    </div>
