    <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#"><i class="fa fa-home fa-fw"></i>Planning</a></li>
                <li><a >Equipes attribuées <i class="fa fa-list-alt fa-fw glyphicon glyphicon-chevron-down"></i></a></li >
                <li><a href="#/EquipeNom1"><i class="fa fa-file-o fa-fw"></i>Equipe Rat</a></li>
                <li><a ><i class="fa fa-bar-chart-o fa-fw"></i>Equipe Chien</a></li>
                <li><a ><i class="fa fa-table fa-fw"></i>Equipe Hibou</a></li>
                
            </ul>
        </div>
        <div class="col-md-9 well">
            <div class="row cadre1-plcl">
                <div class="row titre-plcl">Proposer une tranche horaire</div>
                <div class="row lig-p-rdv">
                    <form>
                        <input type="date" class="p-rdv-date">
                        <input type="time" class="p-rdv-hd">
                        <input type="time" class="p-rdv-hf">
                        <button class="p-rdv-val">Valider</button>
                    </form>
                </div>
            </div>
            <div class="row cadre2-plcl">
                <div class="row titre-plcl">Liste des disponibilités</div>
                <div class="row cadre-rdv-plcl">
                    <div class="row lig-rdv-cl">
                        <div class="col-md-3 date-rdv-cl">12/12/2012</div>
                        <div class="col-md-6 cadre-h-plcl">
                            <div class="col-md-1 mot-de">de</div>
                            <div class="col-md-5 rdv-hd-plcl">16h00</div>
                            <div class="col-md-1 mot-a">à</div>
                            <div class="col-md-5 rdv-hf-plcl">18h00</div>
                        </div>
                        <button class="col-md-3 sup-rdv">Supprimer</button>
                    </div>
                    <div class="row lig-rdv-ele">
                        <div class="col-md-3 nom-eq-plcl">Dragon du Komodo</div>
                        <div class="col-md-6 cadre-h-plcl">
                            <div class="col-md-1 mot-de">de</div>
                            <div class="col-md-5 rdv-hd-plcl">16h00</div>
                            <div class="col-md-1 mot-a">à</div>
                            <div class="col-md-5 rdv-hf-plcl">18h00</div>
                        </div>
                        <button class="col-md-offset-1 col-md-1 val-rdz-ele">Accepter</button>
                        <button class="col-md-1 ref-rdv-ele">Refuser</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
