    <div class="row">
        <section class="col-md-2 bk-menu">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#/PlanningRespo"><i class="fa fa-home fa-fw"></i>Planning</a></li>
                <li><a href="#/GestionClients"><i class="fa fa-list-alt fa-fw"></i>Gestion clients</a></li>
                <li><a >Session 1<i class="fa fa-list-alt fa-fw glyphicon glyphicon-chevron-down"></i></a></li >                
                <li><a href="#/Equipe"><i class="fa fa-bar-chart-o fa-fw"></i>Equipes</a></li>
                <li><a href="#/Sujet"><i class="fa fa-table fa-fw"></i>Sujets</a></li>
                <li><a href="#/ConsultationDepotEleve"><i class="fa fa-tasks fa-fw"></i>Dépôts élèves</a></li>
                <li><a href="#/MurRespo"><i class="fa fa-calendar fa-fw"></i>Mur</a></li>
                <li><a >Session 2<i class="fa fa-list-alt fa-fw glyphicon glyphicon-chevron-down"></i></a></li >
                <li><a >Session 3<i class="fa fa-list-alt fa-fw glyphicon glyphicon-chevron-down"></i></a></li >
                <li><a >Session 4<i class="fa fa-list-alt fa-fw glyphicon glyphicon-chevron-down"></i></a></li >
                
            </ul>
        </section>
        <div class="col-md-10 well">
            Le contenu de la plateforme Academia
        </div>
    </div>






