<div class="row">
     <div class="col-md-2">
         <ul class="nav nav-pills nav-stacked">
             <li class="active"><a href="#/RepartitionEquipeEleve"><i class="fa fa-table fa-fw"></i>Répatition équipe</a></li>
             <li ><a href="#/DepotEleve"><i class="fa fa-home fa-fw"></i>Dépôts documents</a></li>
             <li ><a href="#/PlanningVuEleve"><i class="fa fa-file-o fa-fw"></i>Prise de rdv </a></li>
             <li ><a href="#/MurEleve"><i class="fa fa-bar-chart-o fa-fw"></i>Mur Elève</a></li>
             <li ><a href="#/SujetEleve"><i class="fa fa-table fa-fw"></i>Sujet</a></li>


         </ul>
     </div>
     <div class="col-md-10 well">
         <h1>
           Création de votre équipe :
         </h1>
       <p> Veillez entrer le nom de l'équipe et les noms de vos camarade pour ce cours.<br/>
         les équipes sont définitives.
       </p>
       Le nom de votre équipe : <input type="text" placeholder ="ex: Panda"> <br/> <br/>
       Les membres de l'équipe : <br/>
       Nom : <input type="text" placeholder =""> Prénom : <input type="text" ><br/><br/>
       Nom : <input type="text" placeholder =""> Prénom : <input type="text" ><br/><br/>
       Nom : <input type="text" placeholder =""> Prénom : <input type="text" ><br/><br/>
       Nom : <input type="text" placeholder =""> Prénom : <input type="text" ><br/><br/>
       Nom : <input type="text" placeholder =""> Prénom : <input type="text" ><br/><br/>

     <div class="btn-groupe">
       <p><a class="btn btn-primary btn-primary" >Annuler <span class="glyphicon glyphicon-remove"> </span></a></p>
       <p><a class="btn btn-primary btn-success" >Valider <span class="glyphicon glyphicon-ok"> </a></p>
    </div>
     </div>
 </div>
